<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.langlang.elderly_langlang"
    android:versionCode="7"
    android:versionName="Ver.2.0.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RESTART_PACKAGES" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_login"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.langlang.activity.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.langlang.activity.ActivityLevelActivity" >
        </activity>
        <activity android:name="com.langlang.activity.HeartRateActivity" >
        </activity>
        <activity android:name="com.langlang.activity.MentalStressActivity" >
        </activity>
        <activity android:name="com.langlang.activity.SleepActivity" >
        </activity>
        <activity android:name="com.langlang.activity.SetActivity" >
        </activity>
        <activity android:name="com.langlang.activity.MainActivity" >
        </activity>
        <activity android:name="com.langlang.activity.LoginActivity" >
        </activity>
        <activity android:name="com.langlang.activity.SetPasswordActivity" >
        </activity>
        <activity
            android:name="com.langlang.activity.LeBluetoothDeviceScanActivity"
            android:screenOrientation="portrait" >
        </activity>
            <activity
            android:name="com.langlang.activity.SleepNewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.langlang.activity.AboutActivity" >
        </activity>
        <activity android:name="com.langlang.activity.MyMessageActivity" >
        </activity>
        <activity android:name="com.langlang.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.langlang.activity.DeviceActivity" >
        </activity>
        <activity android:name="com.langlang.activity.ConfiguratorActivity" >
        </activity>
        <activity
            android:name="com.langlang.activity.InitializePoseActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.langlang.activity.HistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.langlang.activity.SampleLeBluetoothDeviceScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.langlang.activity.WeWebsiteActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.langlang.activity.SkinActivity"
            android:screenOrientation="landscape" />
      <activity
            android:name="com.langlang.activity.UpdateVersionActivity"
            android:screenOrientation="landscape" />
        
        <service
            android:name="com.langlang.service.BluetoothLeService"
            android:enabled="true" />
        <service
            android:name="com.langlang.service.DataStorageService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.langlang.service.UploadService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.langlang.service.BleConnectionService"
            android:enabled="true" >
        </service>
    </application>

</manifest>